In [1]:
# Import the required libraries
import pandas as pd 
import numpy as np
import datetime
from datetime import date

# New Data

In [2]:
# Specify the dataset URL
info_url ='https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-data.csv'

# Read the dataset into a DataFrame
df = pd.read_csv(info_url)

# Show the top of the DataFrame
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [3]:
# Specify the continents
continents_location = df[df['continent'].isna()]['location'].unique()

# Loop over each continent and drop it from the DataFrame
for x in continents_location:
    df = df.drop(df[df.location==x].index)

In [4]:
# Determining how many rows are NaN
df.isna().sum()

iso_code                                        0
continent                                       0
location                                        0
date                                            0
total_cases                                  2615
                                            ...
human_development_index                     18787
excess_mortality_cumulative_absolute       137607
excess_mortality_cumulative                137607
excess_mortality                           137607
excess_mortality_cumulative_per_million    137607
Length: 67, dtype: int64

In [5]:
# Fill each NaN row with a 0
df = df.fillna(0)

In [6]:
# Checking the data type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142841 entries, 0 to 152003
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    142841 non-null  object
 1   continent                                   142841 non-null  object
 2   location                                    142841 non-null  object
 3   date                                        142841 non-null  object
 4   total_cases                                 142841 non-null  float64
 5   new_cases                                   142841 non-null  float64
 6   new_cases_smoothed                          142841 non-null  float64
 7   total_deaths                                142841 non-null  float64
 8   new_deaths                                  142841 non-null  float64
 9   new_deaths_smoothed                         142841 non-null  float64
 10  total_cases_per_million                     142841 non-null  float64
 11  new_cases_per_million                       142841 non-null  float64
 12  new_cases_smoothed_per_million              142841 non-null  float64
 13  total_deaths_per_million                    142841 non-null  float64
 14  new_deaths_per_million                      142841 non-null  float64
 15  new_deaths_smoothed_per_million             142841 non-null  float64
 16  reproduction_rate                           142841 non-null  float64
 17  icu_patients                                142841 non-null  float64
 18  icu_patients_per_million                    142841 non-null  float64
 19  hosp_patients                               142841 non-null  float64
 20  hosp_patients_per_million                   142841 non-null  float64
 21  weekly_icu_admissions                       142841 non-null  float64
 22  weekly_icu_admissions_per_million           142841 non-null  float64
 23  weekly_hosp_admissions                      142841 non-null  float64
 24  weekly_hosp_admissions_per_million          142841 non-null  float64
 25  new_tests                                   142841 non-null  float64
 26  total_tests                                 142841 non-null  float64
 27  total_tests_per_thousand                    142841 non-null  float64
 28  new_tests_per_thousand                      142841 non-null  float64
 29  new_tests_smoothed                          142841 non-null  float64
 30  new_tests_smoothed_per_thousand             142841 non-null  float64
 31  positive_rate                               142841 non-null  float64
 32  tests_per_case                              142841 non-null  float64
 33  tests_units                                 142841 non-null  object
 34  total_vaccinations                          142841 non-null  float64
 35  people_vaccinated                           142841 non-null  float64
 36  people_fully_vaccinated                     142841 non-null  float64
 37  total_boosters                              142841 non-null  float64
 38  new_vaccinations                            142841 non-null  float64
 39  new_vaccinations_smoothed                   142841 non-null  float64
 40  total_vaccinations_per_hundred              142841 non-null  float64
 41  people_vaccinated_per_hundred               142841 non-null  float64
 42  people_fully_vaccinated_per_hundred         142841 non-null  float64
 43  total_boosters_per_hundred                  142841 non-null  float64
 44  new_vaccinations_smoothed_per_million       142841 non-null  float64
 45  new_people_vaccinated_smoothed              142841 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  142841 non-null  float64
 47  stringency_index                            142841 non-null  float64
 48  population                                  142841 non-null  float64
 49  population_density                          142841 non-null  float64
 50  median_age                                  142841 non-null  float64
 51  aged_65_older                               142841 non-null  float64
 52  aged_70_older                               142841 non-null  float64
 53  gdp_per_capita                              142841 non-null  float64
 54  extreme_poverty                             142841 non-null  float64
 55  cardiovasc_death_rate                       142841 non-null  float64
 56  diabetes_prevalence                         142841 non-null  float64
 57  female_smokers                              142841 non-null  float64
 58  male_smokers                                142841 non-null  float64
 59  handwashing_facilities                      142841 non-null  float64
 60  hospital_beds_per_thousand                  142841 non-null  float64
 61  life_expectancy                             142841 non-null  float64
 62  human_development_index                     142841 non-null  float64
 63  excess_mortality_cumulative_absolute        142841 non-null  float64
 64  excess_mortality_cumulative                 142841 non-null  float64
 65  excess_mortality                            142841 non-null  float64
 66  excess_mortality_cumulative_per_million     142841 non-null  float64
dtypes: float64(62), object(5)
memory usage: 74.1+ MB

In [7]:
# Selected a sample of each column that is of type 'Object'
df.select_dtypes(object).sample(5)

       iso_code      continent    location        date    tests_units
94026       MSR  North America  Montserrat  2021-11-29              0
54034       GIB         Europe   Gibraltar  2020-03-04              0
145340      URY  South America     Uruguay  2020-10-20  people tested
56998       GTM  North America   Guatemala  2020-12-13  people tested
64929       IDN           Asia   Indonesia  2021-05-22  people tested

In [8]:
# Specifying the columns that are not required
drop_cols=['iso_code','tests_units']

# Droping Said columns
df = df.drop(columns=drop_cols)

In [9]:
# Converting floats to integers
for x in df.select_dtypes(float).columns:
    df[x] = df[x].astype(int)

In [10]:
# Converting the column 'date' to datetime
df['date'] = pd.to_datetime(df['date'])

In [11]:
# Confirming the changes were successful
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142841 entries, 0 to 152003
Data columns (total 65 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   continent                                   142841 non-null  object
 1   location                                    142841 non-null  object
 2   date                                        142841 non-null  datetime64[ns]
 3   total_cases                                 142841 non-null  int64
 4   new_cases                                   142841 non-null  int64
 5   new_cases_smoothed                          142841 non-null  int64
 6   total_deaths                                142841 non-null  int64
 7   new_deaths                                  142841 non-null  int64
 8   new_deaths_smoothed                         142841 non-null  int64
 9   total_cases_per_million                     142841 non-null  int64
 10  new_cases_per_million                       142841 non-null  int64
 11  new_cases_smoothed_per_million              142841 non-null  int64
 12  total_deaths_per_million                    142841 non-null  int64
 13  new_deaths_per_million                      142841 non-null  int64
 14  new_deaths_smoothed_per_million             142841 non-null  int64
 15  reproduction_rate                           142841 non-null  int64
 16  icu_patients                                142841 non-null  int64
 17  icu_patients_per_million                    142841 non-null  int64
 18  hosp_patients                               142841 non-null  int64
 19  hosp_patients_per_million                   142841 non-null  int64
 20  weekly_icu_admissions                       142841 non-null  int64
 21  weekly_icu_admissions_per_million           142841 non-null  int64
 22  weekly_hosp_admissions                      142841 non-null  int64
 23  weekly_hosp_admissions_per_million          142841 non-null  int64
 24  new_tests                                   142841 non-null  int64
 25  total_tests                                 142841 non-null  int64
 26  total_tests_per_thousand                    142841 non-null  int64
 27  new_tests_per_thousand                      142841 non-null  int64
 28  new_tests_smoothed                          142841 non-null  int64
 29  new_tests_smoothed_per_thousand             142841 non-null  int64
 30  positive_rate                               142841 non-null  int64
 31  tests_per_case                              142841 non-null  int64
 32  total_vaccinations                          142841 non-null  int64
 33  people_vaccinated                           142841 non-null  int64
 34  people_fully_vaccinated                     142841 non-null  int64
 35  total_boosters                              142841 non-null  int64
 36  new_vaccinations                            142841 non-null  int64
 37  new_vaccinations_smoothed                   142841 non-null  int64
 38  total_vaccinations_per_hundred              142841 non-null  int64
 39  people_vaccinated_per_hundred               142841 non-null  int64
 40  people_fully_vaccinated_per_hundred         142841 non-null  int64
 41  total_boosters_per_hundred                  142841 non-null  int64
 42  new_vaccinations_smoothed_per_million       142841 non-null  int64
 43  new_people_vaccinated_smoothed              142841 non-null  int64
 44  new_people_vaccinated_smoothed_per_hundred  142841 non-null  int64
 45  stringency_index                            142841 non-null  int64
 46  population                                  142841 non-null  int64
 47  population_density                          142841 non-null  int64
 48  median_age                                  142841 non-null  int64
 49  aged_65_older                               142841 non-null  int64
 50  aged_70_older                               142841 non-null  int64
 51  gdp_per_capita                              142841 non-null  int64
 52  extreme_poverty                             142841 non-null  int64
 53  cardiovasc_death_rate                       142841 non-null  int64
 54  diabetes_prevalence                         142841 non-null  int64
 55  female_smokers                              142841 non-null  int64
 56  male_smokers                                142841 non-null  int64
 57  handwashing_facilities                      142841 non-null  int64
 58  hospital_beds_per_thousand                  142841 non-null  int64
 59  life_expectancy                             142841 non-null  int64
 60  human_development_index                     142841 non-null  int64
 61  excess_mortality_cumulative_absolute        142841 non-null  int64
 62  excess_mortality_cumulative                 142841 non-null  int64
 63  excess_mortality                            142841 non-null  int64
 64  excess_mortality_cumulative_per_million     142841 non-null  int64
dtypes: datetime64[ns](1), int64(62), object(2)
memory usage: 71.9+ MB

In [12]:
# Defining the function to get the selected column drom the dataframe
def get_col(df,column):
    ## Get the subset df to work off
    cases = df[['location','date',column]]

    ## Create the dates variable and sort it
    dates = cases['date'].unique()
    dates.sort()


    ## Get the len of dates
    len_dates = len(dates)

    ## Get the unique locations
    locations = [x for x in cases['location'].unique()]

    data = list()
    ## Loop through each location to get the column and merge it to the dataframe 
    for x in locations:
        y = ()
        len_y = 0 
        y = list(cases[cases['location']==x][column])
        len_y = len(y)
        len_zeroes = len_dates-len_y
        zeroes = list(np.zeros(len_zeroes))
        merge = zeroes + y
        data.append(merge)
    data = np.array(data).T
    df2 = pd.DataFrame(data,columns=locations,index=dates)
    df2 = df2.astype(int)
    
    return df2

In [13]:
# Getting the DataFrames necessary to graph
deaths = get_col(df,'total_deaths')
cases = get_col(df,'total_cases')
new_cases = get_col(df,'new_cases')
new_deaths = get_col(df,'new_deaths')

In [14]:
# Creating a function to get the continent's information
def get_world(col):
    date = df['date'].max()

    continent_cases = df[df['date']==date.strftime('%Y-%m-%d')]

    total_cases_world = pd.DataFrame(continent_cases.groupby('continent')[col].sum())
    
    return total_cases_world

In [15]:
# Getting the total cases for the World using the function
total_cases_world = get_world('total_cases')

# Vaccination Data

In [16]:
# Specifying the Vaccination dataset URL
vac_url = 'https://github.com/owid/covid-19-data/raw/master/public/data/vaccinations/vaccinations.csv'

# Reading the dataset into a DataFrame
vac_df = pd.read_csv(vac_url)

vac_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0,1367.0,0.003

In [17]:
# Creating a new DataFrame
vac_df_max = pd.DataFrame(columns=vac_df.columns)

# Looping over every location and getting the most recent data then merging it to the new DataFrame
for location in vac_df['location'].unique():
    result = vac_df.loc[(vac_df['location']==location)&(vac_df['date']==vac_df.loc[(vac_df['location']==location)]['date'].max())]
    vac_df_max = pd.concat((vac_df_max,result))

# Droping the continent information from the DataFrame
for x in continents_location:
    vac_df_max = vac_df_max.drop(vac_df_max[vac_df_max.location==x].index)
    
# Filling NaNs with 0
vac_df_max = vac_df_max.fillna(0)

# Converting columns
vac_df_max['date'] = pd.to_datetime(vac_df_max['date'])

# Getting the most recent date
date = vac_df_max['date'].max()

# More data preprocessing for the vaccination dataset
vac_cols = [x for x in vac_df_max.columns[7::]]
vac_cols.append('iso_code')
vac_cols.append('date')
vac_cols.append('total_vaccinations')
vac_df_max = vac_df_max.drop(columns=vac_cols)
vac_df_max = vac_df_max.set_index('location').T

# Changing column data types and index labels
vac_df_max = vac_df_max.astype(int)
vac_df_max = vac_df_max.rename(index={'people_vaccinated': "People Vaccinated", 
                     'people_fully_vaccinated': "People Fully Vaccinated", 
                     'total_boosters': "Total Boosters"})

In [18]:
vac_df_max

location,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wales,Wallis and Futuna,Yemen,Zambia,Zimbabwe
People Vaccinated,4142857,1141486,7060737,56628,7685417,10079,62283,38214609,934028,84751,...,2768836,18813625,102308,18393519,77796499,2490223,6016,556652,0,4136571
People Fully Vaccinated,3753224,1031132,5609040,50551,3929727,9223,58863,32680984,692082,79008,...,2675808,0,50403,11608305,0,2302282,5923,366587,1217415,3147652
Total Boosters,0,143988,0,8530,0,982,0,5682825,628,0,...,1528721,0,0,0,0,1677340,0,0,0,0

# Dash

In [19]:
# Import the required libraries for Dash and Plotly
import dash
from dash import dash_table
from dash import html as html
from dash import dcc as dcc
import plotly.graph_objects as go
import plotly.express as px
from dash.dependencies import Input, Output
from dash import State, html
import dash_bootstrap_components as dbc
from jupyter_dash import JupyterDash

In [22]:
# Specifying the button group
button_groups = dbc.ButtonGroup(
    [dbc.Button("Learn More",href='https://www.who.int/emergencies/diseases/novel-coronavirus-2019'), dbc.Button("Github",href='https://github.com/ronanmccormack-ca/DAV2021-Mini-Project')]
)

In [23]:
# Creating the Dash App
app = dash.Dash(__name__,external_stylesheets=[dbc.themes.ZEPHYR])
server = app.server

# Getting some information for use in the dashboard
loc_columns = [x for x in df['location'].unique()]
night_colors = ['rgb(56, 75, 126)', 'rgb(18, 36, 37)', 'rgb(34, 53, 101)',
                'rgb(36, 55, 57)', 'rgb(6, 4, 4)']
top_cases_country = [x for x in df[df['date']==df['date'].max()].sort_values(by='total_cases',ascending=False)['location'].head(5)]
cases_min = cases.index.min().strftime('%Y-%m-%d')
cases_max = cases.index.max().strftime('%Y-%m-%d')

# App layout
app.layout = html.Div(id = 'parent', children = [
    html.H1(id = 'H1', children = 'COVID-19 Dashboard', style = {'textAlign':'center',\
                                            'marginTop':30,'marginBottom':30}),
    html.Div(children='''
        Created by Ronan McCormack S00144576
    ''',style={
            'textAlign': 'center',
            'color': 'primary',
            'marginBottom':10
        }),
    # The dropdown to selected which country you wish to view
    html.Div(id = 'cases_graph', children= [
        dbc.Row([ 
            button_groups
        ]),
        dcc.Dropdown(
                id='dropdown',
                options=[{'label': i, 'value': i} for i in loc_columns],
                value='Ireland',
                style={
                    'width':'90%',
                    'padding-left':'20%',
                    'marginTop':20
                }
            ),
        dcc.Dropdown(
                id='dropdown_date',
                options=[{'label': i, 'value': i} for i in cases.index.strftime('%Y-%m-%d')],
                value=cases_max,
                style={
                    'width':'90%',
                    'padding-left':'20%',
                    'marginTop':20
                }
            ),
        ]),
    # The cards which display the raw data
    html.Div(id='cards',children=[
        dbc.Row([
        dbc.Card([
            dbc.CardBody([
                html.P("Total Cases", className='card-title'),
                html.H5(id='cases_card',className='card-text'),
            ]),
        ],color="primary", outline=True,
        style={"marginTop":20,
              'width':'25%',
              'textAlign': 'center'}),
        dbc.Card([
            dbc.CardBody([
                html.P("Total Deaths", className='card-title'),
                html.H5(id='deaths_card',className='card-text'),
            ]),
        ],color="primary", outline=True,
        style={"marginTop":20,
              'width':'25%',
              'textAlign': 'center'}),
        dbc.Card([
            dbc.CardBody([
                html.P("New Cases", className='card-title'),
                html.H5(id='new_cases_card',className='card-text'),
            ]),
        ],color="primary", outline=True,
        style={"marginTop":20,
              'width':'25%',
              'textAlign': 'center'}),
        dbc.Card([
            dbc.CardBody([
                html.P("New Deaths", className='card-title'),
                html.H5(id='new_deaths_card',className='card-text'),
            ]),
        ],color="primary", outline=True,
        style={"marginTop":20,
              'width':'25%',
              'textAlign': 'center'}),
        ]), 
    ]),
    # The Covid Gaphs used in the dashboard
    html.Div(id='new_case_graph',children=[
        dcc.Graph(id='cases_plot',style={'display': 'inline-block', 'width': '50%',"marginTop":20,}),
        dcc.Graph(id='new_case_plot',style={'display': 'inline-block', 'width': '50%'})
    ]),
    dbc.Container([    
    dcc.Graph(id='top_country_plot',style={'display': 'inline-block', 'width': '100%'}),
]),
    html.Div(id='vac_graph',children=[
        dcc.Graph(id='new_world_plot',style={'display': 'inline-block', 'width': '50%'}),
        dcc.Graph(id='total_world_plot',style={'display': 'inline-block', 'width': '50%'}),
        ]),
])

## App Callbacks
@app.callback(Output(component_id='cases_plot', component_property= 'figure'),
              (Output(component_id='new_case_plot',component_property='figure')),
              (Output(component_id='total_world_plot',component_property='figure')),
              (Output(component_id='new_world_plot',component_property='figure')),
              (Output(component_id='top_country_plot',component_property='figure')),
              (Output(component_id='cases_card',component_property='children')),
              (Output(component_id='deaths_card',component_property='children')),
              (Output(component_id='new_cases_card',component_property='children')),
              (Output(component_id='new_deaths_card',component_property='children')),
              [Input(component_id='dropdown', component_property= 'value'),
              Input(component_id='dropdown_date', component_property= 'value')])

# Function used to return data based on the selected inputs              
def cases_update(dropdown_value,dropdown_date_value):
    cases_min = cases.index.min().strftime('%Y-%m-%d')
    start_date = cases_min
    end_date = dropdown_date_value
    mask = (cases.index >= start_date) & (cases.index <= end_date)
    fig = go.Figure()
    fig.add_trace(go.Scatter(x = cases.loc[mask].index, y = cases['{}'.format(dropdown_value)],\
                      mode='lines',name='Total Cases',line = dict(color = 'black', width = 4)))
    fig.add_trace(go.Scatter(x = deaths.loc[mask].index, y = deaths['{}'.format(dropdown_value)],\
                     mode='lines',name='Total Deaths',line = dict(color = 'blue', width = 4)))
    fig.update_layout(title={'text':'Total Cases & Deaths', 
                      'y':0.9,'x':0.5,'yanchor': 'top'},
                      xaxis_title = 'Date',
                      yaxis_title = 'Confirmed Cases & Deaths'
                      )
    fig2 = go.Figure()
    fig2.add_trace(go.Bar(x = new_cases.loc[mask].index, y = new_cases['{}'.format(dropdown_value)],\
                     name='New Cases',marker = dict(color = 'black')))
    fig2.add_trace(go.Bar(x = new_deaths.loc[mask].index, y = new_deaths['{}'.format(dropdown_value)],\
                     name='New Deaths',marker = dict(color = 'blue')))
    fig2.update_layout(title={'text':'New Cases & Deaths',           
                       'y':0.9,'x':0.5,'yanchor': 'top'},
                      xaxis_title = 'Date',
                      yaxis_title = 'Confirmed New Cases',
                      )
    fig4 = go.Figure([go.Bar(x=total_cases_world.index, y=total_cases_world['total_cases'],
                            marker_color=night_colors)
                     ])

    fig4.update_layout(title={'text':'Total COVID Cases Per Continent',           
                   'y':0.9,'x':0.5,'yanchor': 'top'}
                      )
    fig5 = go.Figure([go.Pie(labels=vac_df_max.index, values=vac_df_max['{}'.format(dropdown_value)],
                            hole=.3,marker_colors=night_colors)
                     ])

    fig5.update_layout(title={'text':'Percentage of All People Vaccinationed in '+'{}'.format(dropdown_value),           
                   'y':0.9,'x':0.5,'yanchor': 'top'}
                      )
    top_cases_country.append('{}'.format(dropdown_value))
    fig6 = go.Figure()
    for country in set(top_cases_country):
        fig6.add_trace(go.Scatter(x = cases.loc[mask].index, y = cases[country],\
                                 name=country,))
    
    fig6.update_layout(title={'text':'{}'.format(dropdown_value)+' Compared to Top 5 Countries - Total Cases',           
                   'y':0.9,'x':0.5,'yanchor': 'top'},
                  xaxis_title = 'Date',
                  yaxis_title = 'Confirmed New Cases',
                  )
    cases_format = cases.iloc[mask]['{}'.format(dropdown_value)].iloc[-1]
    deaths_format = deaths.iloc[mask]['{}'.format(dropdown_value)].iloc[-1]
    new_cases_format = new_cases.iloc[mask]['{}'.format(dropdown_value)].iloc[-1]
    new_deaths_format = new_deaths.iloc[mask]['{}'.format(dropdown_value)].iloc[-1]
    return fig, fig2, fig4, fig5, fig6, cases_format,deaths_format,new_cases_format,new_deaths_format
if __name__ == '__main__': 
    app.run_server(host='localhost',port=8000)

Dash is running on http://localhost:8000/

Dash is running on http://localhost:8000/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://localhost:8000/ (Press CTRL+C to quit)
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [04/Jan/2022 11:01:04] "POST /_dash-update-component HTTP/1.1" 200 -